@import "varuables";

#inspire {
    position: relative;

    img {
        width: 100%;
    }

    div {
        position: absolute;
        top: 40%;
        left: 5%;
        display: flex;
        flex-direction: column;

        h1 {
            @include mainText;
            font-size: 3.1vw;
        }
    }
    @media (max-width: 992px) {
        img{
        width: 150%;
        }
        div{
        h1{
        font-size: 5.1vw;
        }
    }
    }
}

#recommend {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3vw;
    margin-bottom: 14vw;

    h2 {
        width: 100%;
        text-align: center;
        flex: 100%;
        @include mainText;
        font-size: 5rem;
        margin: 8vw;
    }

    #fireship,
    #w3 {
        margin: 1rem;
        display: flex;
        width: 40rem;
        height: 15rem;

        img {
            height: 15rem;
            border-radius: 10px;
            position: relative;
        }

        a {
            &:hover {

                img,
                a {
                    opacity: 0.9;
                    bottom: 0.5rem;
                    right: 0.5rem;
                    height: 16rem;
                    cursor: pointer;
                }
            }
        }

        p {
            @include mainText;
            margin: 1rem;
            align-self: center;
            font-size: 1.5rem;
        }
    }
    @media (max-width: 576px) {
        #fireship,
        #w3 {
            flex-direction: column;
            height: fit-content;
            text-align: center;
        }
        h2 {
            font-size: 2rem; 
        }
    }
}

#myproj {
    width: 70rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        border-radius: 20px;
        padding: 0;
        box-shadow: 8px 1rem #8888888e;
    }

    h1 {
        position: absolute;
        bottom: 23%;
        @include mainText;
        font-size: 10rem;
        text-shadow: 4px 4px rgba(0, 0, 0, 0.259);
    }

    &:hover {
        opacity: 0.9;
    }

    &:active {
        transition: all .05s linear;
        top: 1rem;

        img {
            box-shadow: none;
        }

        h1 {
            text-shadow: none;
        }
    }
    @media (max-width: 992px) {
        width: 95%;
        img{
        box-shadow: 1vw 2vw rgba(0, 0, 0, 0.259);
        }
        h1 {
            font-size: 15vw;
        }
    }
}